body {
    text-align: center;
    font-size: large;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.left, .right{
    width: 100px;
}

#board{
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin: 0px 100px;
}

#score {
    font-size: xx-large;
}

#play {
    font-size: 20px;
    border: 2px solid;
    border-radius: 7px;
    cursor: pointer;
}